#class {ddhigbol} kill
#class {ddhigbol} open
# highlands  - cleric boldar
#read $dir/slist-aliases.tt
#var spells {};
#read $dir/warrior.tt;
#read $dir/spellbook.tt

#class {ddhigbol} close
