# Requires the startup class to be loaded to configure
# the variables used here.
#class {genae} open

#alias {.$char} 
{
	#ses .$char $mud $port; $char; Dak0ta; who; who;
	#send {prompt <%h/%Hhp (%P) %m/%Mm %v/%Vmv, opp: %O, leader: %L>};
};
#read $dir/cleric.tt;

#class {genae} close
