# Requires the startup class to be loaded to configure
# the variables used here.
#class {renae} open

#alias {.$char} {#ses .$char $mud $port; $char; Dak0ta; who; who};
#read $dir/necro.tt;

#class {renae} close
